body{
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
    background-size: cover;
    background-position:center;
    font-family: sans-serif;
}

.logo{
    position: absolute;
    top: 36%;
    left: 25%;  
   
}

.logoBorder input[type= "submit"]{
    position: absolute;
    top: 56%;
    left: 38%;  
    border: none;
    outline: none;
    width: 200px;
    height: 35px ;
    background: #094668;
    color: #d2cbdd;
    font-size: 18px;
    border-radius: 20px;
    box-shadow:0 0 5px 3px rgb(168, 165, 165);}

.logoBorder input[type= "submit"]:hover{
    cursor: pointer;
    background: #d2cbdd;
    color: #094668;
}





.logoBorder {
    width:700px ;
    height: 420px;
    background:#d2cbdd;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    
    padding: 70px 30px;
    border-radius: 20px;
    box-shadow:0 0 5px 3px rgb(180, 176, 176);
}


